/*
    Document   : manidora
    Created on : Jan 8, 2013, 11:10:27 AM
    Author     : dgi
    Description:
        Purpose of the stylesheet follows.
    
    2013-06-14 (whikloj) : 
        XSL was changed from list to table
*/

.manidora-metadata {
   list-style: none;
   padding-left: 0;
 }

.manidora-metadata li {
  margin-bottom: 0.25em;
}

.manidora-metadata li:nth-child(even), .manidora-metadata tr:nth-child(even) {
  background-color: #EAEAE9;
}

.manidora-metadata .label {
    font-weight: bold;
    text-align: right;
    border-right: 2px solid #fff;
}

.manidora-metadata td {
    vertical-align: top;
}

.manidora-commons-license {
  margin-top: 1em;
  font-size: 90%;
  margin-bottom: 1em;
}

#home-panel-collections .collection_spacer {
    display:block;
}

.coll_letter_box {
    clear:left;
}

#manidora-newspaper-search-form .column-split-50,
#manidora-newspaper-search-form .column-split-25 {
    float:left;
    overflow:hidden;
    margin-right: 5px;
}
#manidora-newspaper-search-form .column-split-50 {
    width:48%;
}
#manidora-newspaper-search-form .column-split-25 {
    width: 23%;
}


#manidora-newspaper-search-form .form-item-titles {
  margin-bottom: 5px;
}
#edit-titles {
  border: 1px solid black;
  background-color: #fff;
  padding: 4px;
}
.without-words-suffix {
    font-size: 0.78em;
    font-style: italic;
}
