/*
    Document   : manidora
    Created on : Jan 8, 2013, 11:10:27 AM
    Author     : dgi
    Description:
        Purpose of the stylesheet follows.
*/

.manidora-metadata {
   list-style: none;
   padding-left: 0;
 }

.manidora-metadata li {
  margin-bottom: 0.25em;
}

.manidora-metadata li:nth-child(even), .manidora-metadata tr:nth-child(even) {
  background-color: #EAEAE9;
}

.manidora-metadata .label {
    font-weight: bold;
    text-align: right;
    border-right: 2px solid #fff;
}

.manidora-metadata td {
    vertical-align: top;
}

.manidora-commons-license {
  margin-top: 1em;
  font-size: 90%;
  margin-bottom: 1em;
}

#home-panel-collections .collection_spacer {
    display:block;
}

.coll_letter_box {
    clear:left;
}
